footer {
  background-color: #660099;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-wrap: wrap;
}

.izquierda {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.izquierda>p {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.derecha {
  display: flex;
  align-items: center;
}

footer>app-enlaces {
  display: flex;
  gap: 15px;
}


